################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompanyEmployees/.vs/CompanyEmployees/FileContentIndex
/CompanyEmployees/.vs/CompanyEmployees/FileContentIndex
